<div class="row title-container">
    <div class="col-sm-12">
        <span ng-click="back()" class="glyphicon glyphicon-arrow-left back-button"></span>
        <h1 class="title">news settings</h1>
    </div>
</div>

<hr />

<div class="row" id="setting-article-template" data-scrollspy="article template">
    <ctrl-select class="col-sm-12" ng-model="settings.articleTemplate" ng-items="templates" ng-default="true" ng-value-field="id" ng-name-field="name" ng-label="article template"></ctrl-select>
</div>

<hr />

<div class="row" id="setting-image-teaser" data-scrollspy="teaser image">
    <ctrl-numeric class="col-sm-6" ng-model="settings.imageTeaserHeight" ng-required="true" ng-label="teaser image height"></ctrl-numeric>
    <ctrl-numeric class="col-sm-6" ng-model="settings.imageTeaserWidth" ng-required="true" ng-label="teaser image width"></ctrl-numeric>
</div>

<div class="row" id="setting-image-body" data-scrollspy="body image">
    <ctrl-numeric class="col-sm-6" ng-model="settings.imageBodyHeight" ng-required="true" ng-label="body image height"></ctrl-numeric>
    <ctrl-numeric class="col-sm-6" ng-model="settings.imageBodyWidth" ng-required="true" ng-label="body image width"></ctrl-numeric>
</div>

<div class="row" id="setting-gallery-images" data-scrollspy="gallery images">
    <ctrl-numeric class="col-sm-6" ng-model="settings.imageGalleryHeight" ng-required="true" ng-label="gallery image height"></ctrl-numeric>
    <ctrl-numeric class="col-sm-6" ng-model="settings.imageGalleryWidth" ng-required="true" ng-label="gallery image width"></ctrl-numeric>
</div>

<hr />